{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Sign In</h1>
         <form method="POST" action="{% url 'sign_in' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="text" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" required>
            </div>
            <button type="submit">Sign In</button>
        </form>
        <div class="sign-up">
            <p>Don't have an account? <a href="{% url 'sign_up' %}">Sign up</a></p>
        </div>
    </div>
</body>
</html>